// Pricing Header
.pricing__heading {
    max-width: 700px;
}

.container {
    max-width: 960px;
}

.card {
    min-width: 220px;
    margin-bottom: 25px !important;
}

footer {

    .fa-bootstrap {
        color: #563D7C;
        font-size: 28px;
    }
}